---
const navItems = [
  { name: "Inicio", href: "/" },
  { name: "Sobre UNIOR", href: "/sobre-unior" },
  { name: "Oferta Académica", href: "/oferta-academica" },
  { name: "Admisiones", href: "/admisiones" },
  { name: "Carreras", href: "/carreras" },
  { name: "Noticias y Eventos", href: "/noticias-eventos" },
  { name: "Contacto", href: "/contacto" },
];

import '@fontsource/bebas-neue';
---

<header class="shadow-md">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex-shrink-0">
        <a href="/" class="flex items-center">
          <span class="ml-2 text-4xl font-normal text-text-dark font-bebas tracking-wider">UNIOR</span>
        </a>
      </div>
      <nav class="hidden md:block">
        <ul class="flex space-x-4">
          {navItems.map((item) => (
            <li>
              <a
                href={item.href}
                class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-200 hover:text-text-light"
              >
                {item.name}
              </a>
            </li>
          ))}
        </ul>
      </nav>
      <div class="flex items-center">
        <a
          href="/plataforma-virtual"
          class="rounded-md bg-primary-light px-4 py-2 text-sm font-medium hover:bg-primary-light/90"
        >
          Plataforma Virtual
        </a>
        <button
          type="button"
          class="ml-4 inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary md:hidden"
        >
        
          <span class="sr-only">Abrir menú</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  
  <!-- Mobile menu, show/hide based on menu state -->
  <div class="md:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      {navItems.map((item) => (
        <a
          href={item.href}
          class="block rounded-md px-3 py-2 text-base font-medium hover:bg-gray-500 hover:text-text-dark"
        >
          {item.name}
        </a>
      ))}
    </div>
  </div>
</header>

<script>
  const mobileMenuButton = document.querySelector('button[aria-label="Abrir menú"]');
  const mobileMenu = document.getElementById('mobile-menu');

  mobileMenuButton.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });
</script>