---
import '@fontsource/bebas-neue';
// src/layouts/Layout.astro
import ThemeToggle from '../components/ThemeToggle.astro';

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
	<script src="/src/scripts/dark-mode.js" defer></script>
  </head>
  <body>
    <header>
      
    </header>
    <slot />
    <style is:global>
      :root {
        
      }

      html{
        font-family: system-ui, sans-serif;
      }
      body {
        justify-content: center;
      }
    </style>
  </body>
</html>
